# macOS
.DS_Store
**/.DS_Store

# Xcode
build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Video exports
*.mp4

# Claude settings
.claude/
